.header {
  background: url('../static/gradient-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background: -webkit-linear-gradient(#ffffff, #ffffff60);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  color: #ffffff60;
}
